<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Start</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <style>

.container-fluid{  
    background-color: rgb(241, 198, 209);
    border-style: ridge;

    /* border-width: 4px; */
    /* border-color: black; */



}
<!--
/* div{
    border-width: 1px;
    border-color: red;
    border-style: ridge;
} */

  </style>
  
  <body>
    <!--******Row 1****************-->
  <div class="container-fluid">
    <div class="row">
        <div class="col">
          <center><h1>Uttar Pradesh - Real States</h1>
            <h2> Comes And Take Your Dream Keys </h2>
          
          </center>
          <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Option</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Link
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled">Link</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav> 
             
             <h1 style="color:blue;">Appartements/Houses/Plots   </h1>
             
                 1-2
          
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img style="hight: 300px;" src="images/img9.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>First slide label</h5>
                  <p>.</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="images/full5.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Second slide label</h5>
                  <p></p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="images/full4.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        
         
         </div>
        
        
    
    <!--*********2nd row *********-->
      </div>
      2-1
      <div class ="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header">
              <img  style="width: 600px;" src="../images/img4.jpg" alt="">

            </div>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text"></p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
         </div>
        <div class="col-sm-6">
            <div class="row">

                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <!-- <h5 class="card-title">Appartements</h5> -->
                      <!-- <center> -->
                      <center>
                        <h5 class="card-title">Appartements</h5>
                        <img  style="width: 200px;" src="../images/house1.jpg" alt="">
                      <a href="#" class="btn btn-primary">Book Now</a>  </center>

                      <p class="card-text"></p>
                      <!-- <a href="#" class="btn btn-primary">Book Now</a> -->
                    </div>
                  </div>
                  
                 
                    2.1
                </div>
                
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-sm-6">
                      <center>
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Houses    </h5>
                          <img  style="width: 120px;" src="../images/house2.jpg" alt="">

                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Book Now</a>
                        </div>
                      </div>
                    </div>
                    </div>
                   </center>
                    
                </div>
                
2.2
            </div>
            <div class="row">
              <!-- <img  style="width: 300px;" src="../images/img3.jpg" alt=""> -->
              <div class="card w-50">
                
                <div class="card-body">
                  <center><h5 class="card-title">For Rent</h5>
                  <img  style="width: 200px;" src="../images/appartment.jpg" alt="">
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary">PG For Boys & Girls</a></center>
                </div>
              </div>

            </div>
            
          2-1   
      </div>

    <!--*********3nd row *********-->

    </div>
    <h1 style="-webkit-touch-callout: ;150px">
    <div class="row">
      <div class="col-sm-3 ">
        <h1 style="font-size: 35px;">24*7 Lights</h1>
        <!-- <img  style="width: 100px;" src="../images/img2.jpg" alt=""> -->
       3-1
       </div>
      <div class="col-sm-3  ">
        <h1 style="font-size: 30px;"  >24*7 Water</h1>
        <!-- <img  style="width: 100px;" src="../images/img4.jpg" alt=""> -->

        3-2   
    </div>
    <div class="col-sm-3 ">
      <h1 style="font-size: 30px;">High Level Securiy</h1>
      <!-- <img  style="width: 100px;" src="../images/images.jpg" alt=""> -->

        3-3   
        </div>
    <div class="col-sm-3 ">
      <h1 style="font-size: 25px;">Parks for kids</h1>
      <!-- <img style="height: 60px;" src="../images/dogs.jpg" alt=""> -->
        3-4
    </div>
   </h1>




        <!--*********4nd row *********-->
    </div>
    <div class="row">
      <div class="col">
        
        <div class="card text-center">
          <div class="card-header">
            
            Featured
          </div>
          <div class="card-body">
            <img  style="width: 700px;" src="../images/full4.jpg" alt="">
            <h5 class="card-title">Pick Your Dreams and Unlock</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>
        
       4-1
    



  
</div>
  </div>





  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>

